<ion-view>
  <ion-content>
    <img class="img-logo" src="img/gym5.png" />
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
      <a href="#/signup" class="button button-positive button-clear button-block ">O registrate</a>
    </form>
  </ion-content>
</ion-view>
